@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.animate-rainbow-text {
		animation: rainbow-text 8s linear infinite;
	}
}

@keyframes rainbow-text {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Base styles */
body {
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Ensure proper modal background in older browsers */
.modal-backdrop {
	background-color: rgba(107, 114, 128, 0.6);
}
